body {background-color:#FFFFFF; font-family:sans-serif; font-size:10pt; color:#000000; text-align:left; padding:0; margin:0;}
h1 {font-size: 12pt; font-weight: bold; text-align: center;}
div {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px; margin: 0;}
a {cursor: pointer; text-decoration: none;}
a:hover {text-decoration: underline;}
p.smallr {font-size:9pt; text-align:right; margin: 0px;}
button {font-size: 12px;}
.tab {height: 200px; width: 100%; overflow-y: scroll; overflow-x: auto;}
#header { border-bottom: 1px dotted #CCC; padding: 0 0 5px 0; text-align: center;}
#posts, #shared {padding: 0;}
.settings {color: #999;}
#comments, #comments_pinned, #comments_unpinned {padding: 0;}

#share .settings {
  border-bottom: 1px dotted #CCC; padding: 0 0 5px 0; text-align: center;
}

#menu {
  height: 22px;
  width: 100%; min-width: 100%; max-width: 100%;
  overflow: hidden;
  padding: 2px 2px 2px 6px;
  background-color: #999;
  text-align: left;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#shares_added {
  color: black;
  background-color: yellow;
  padding: 2px;
}

a.menu {
  padding: 2px;
  height: 20px;
  display: inline-block;
  width: 90px;
  text-align: center;
  background-color: #DDD;
  text-decoration: none;
  color: black;
  font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
  cursor: pointer;
}

a.highlight {
  background-color: #FF0;
}

a.menu:hover {
  background-color: #EEE;
  text-decoration: none;
  color: black;
}

a.selected {
  background-color: #FFF;
}

.post { border-bottom: 1px dotted #CCC; vertical-align: top; padding: 12px 8px 7px 47px; word-wrap: break-word; position: relative;}

.comment { border-bottom: 1px dotted #CCC; vertical-align: top; padding: 7px 8px 7px 47px; word-wrap: break-word; position: relative; }
.actions { display: none; position: absolute; bottom: 2px; right: 2px; padding: 2px; background-color: rgba(255, 255, 255, 0.8); }
.action { display: inline-block; margin: 0px 2px 0px 2px; background-image: url(https://www.foldedsoft.at/plus/hangout-comment-tracker/images/icons.png?4); cursor: pointer;}
.action_hide { width: 20px; height: 20px; background-position: 0px 0px; }
.action_unhide { width: 20px; height: 20px; background-position: -20px 0px; }
.action_pin { width: 20px; height: 20px; background-position: -39px 0px; }
.action_unpin { width: 16px; height: 20px; background-position: -59px 0px; }
.action_track { width: 20px; height: 20px; background-position: -75px 0px; }
.action_reshares { width: 25px; height: 20px; background-position: -96px 0px; }
.action_watch { width: 20px; height: 20px; background-position: -122px 0px; }
.action_unwatch { width: 20px; height: 20px; background-position: -143px 0px; }
.action_add { width: 20px; height: 20px; background-position: -163px 0px; }
.important { border: 1px solid black; margin-bottom: 2px;}
.hidden { text-decoration: line-through; }
.comment:hover .actions { display: block; }
.post:hover .actions { display: block; }
.comment_pic, .post_pic {display: block; border: 0; max-width: 32px; max-height: 32px; float: left; margin-left: -40px;}
.service_pic {display: block; border: 0; max-width: 16px; max-height: 16px; float: left; margin-left: -20px; margin-top: 20px;}
.comment_time, .post_time {display: block; float: right; color: #999; padding: 0;}
.comment_text, .post_text {margin-top: 2px; padding: 0;}
.comment_updated {background-color: yellow; font-weight: bold; color: red;}
.comment_deleted {text-decoration:line-through;}

.post_time a {color: #999;}
.comment_time a {color: #999;}
.comment_updated a {color: red;}

#searching { vertical-align: middle; padding: 7px; color: #999;}

